# Note, this example uses "APP" as env prefix!

########################################################################
#
# Log Configurations
#
########################################################################

# Log level in format of "level,module1=level1,module2=level2", where module log level is optional.
# Supported level values: trace, debug, info, warn and error.
# APP_LOG_LEVEL=info

# Whether to forcely output with colors. Usually, it is set on Windows.
# APP_LOG_FORCECOLOR=false

# Whether to disable colors in output.
# APP_LOG_DISABLECOLOR=false

# ===== Output =====

# Output type options: stdout, stderr, file
# APP_LOG_OUTPUT_TYPE=stderr

# Log file path (required if type is "file").
# APP_LOG_OUTPUT_FILEPATH=

# ===== File Rotation =====
# File rotation settings (applies only when type is "file")

# Maximum size of a log file (in MB) before rotation
# APP_LOG_OUTPUT_ROTATION_MAXSIZE=100

# Maximum number of backup files to retain (0 to keep all backups)
# APP_LOG_OUTPUT_ROTATION_MAXBACKUPS=0

# Maximum age (in days) before old log files are deleted
# APP_LOG_OUTPUT_ROTATION_MAXAGE=30

# Compress old log files to save disk space
# APP_LOG_OUTPUT_ROTATION_COMPRESS=true

# ===== Alert Hook =====

# Hooked logrus level for alert notification
# APP_LOG_ALERTHOOK_LEVEL=warn

# Default notification channels, e.g. "dingrobot,tgrobot"
# APP_LOG_ALERTHOOK_CHANNELS=

# Maximum request timeout allowed to send alert.
# APP_LOG_ALERTHOOK_SENDTIMEOUT=3s

########################################################################
#
# Alert Configurations
#
########################################################################

# Custom tags are used to distinguish between different networks and environments.
# They can be used to differentiate between mainnet/testnet, prod/test/dev, etc.
# For example: "dev,hk" indicates dev env in HK region.
# APP_ALERT_CUSTOMTAGS=dev

# ===== Channels =====
# Channels are used for sending notifications.
# Each channel is identified by a unique key (e.g., channel ID), which is case insensitive.
# The value for each key is the configuration for that channel.

# ===== Dingtalk =====

# The type of the channel. In this case, it's 'dingtalk'.
# APP_ALERT_CHANNELS_DINGROBOT_PLATFORM=dingtalk

# Available message types are `text` and `markdown`.
# APP_ALERT_CHANNELS_DINGROBOT_MSGTYPE=markdown

# The webhook URL for the DingTalk robot.
# APP_ALERT_CHANNELS_DINGROBOT_WEBHOOK="https://oapi.dingtalk.com/robot/send?access_token=your_access_token"

# The secret key for the DingTalk robot.
# APP_ALERT_CHANNELS_DINGROBOT_SECRET=your_access_secret

# List of mobile numbers to be mentioned in the alert. If empty, no one is mentioned.
# APP_ALERT_CHANNELS_DINGROBOT_ATMOBILES=

# If set to true, all members are mentioned in the alert. If false, only the members
# in 'atMobiles' are mentioned.
# APP_ALERT_CHANNELS_DINGROBOT_ISATALL=false

# ===== Telegram =====

# The type of the channel. In this case, it's 'telegram'.
# APP_ALERT_CHANNELS_TGROBOT_PLATFORM=telegram

# The API token for the Telegram robot.
# APP_ALERT_CHANNELS_TGROBOT_APITOKEN=your_api_token

# The chat ID for the Telegram chat where the alerts are sent.
# APP_ALERT_CHANNELS_TGROBOT_CHATID=your_chat_id

# List of public usernames in the chat to be mentioned.
# APP_ALERT_CHANNELS_TGROBOT_ATUSERS=

########################################################################
#
# REST API Configurations
#
########################################################################

# GIN_MODE=debug

# APP_API_ENDPOINT=":12345"

# APP_API_RECOVERYDISABLED=false

# Allowed CORS origins. By default, all origins are allowed.
# APP_API_CORSORIGINS=

# APP_API_LOGGER=false

########################################################################
#
# Metrics configurations
#
########################################################################

# APP_METRICS_ENABLED=false

# APP_METRICS_REPORTINTERVAL=10s

# ===== Influxdb =====

# APP_METRICS_INFLUXDB_HOST="http://127.0.0.1:8086"
# APP_METRICS_INFLUXDB_DB=metrics_db
# APP_METRICS_INFLUXDB_USERNAME=your_username_here
# APP_METRICS_INFLUXDB_PASSWORD=your_password_here
# APP_METRICS_INFLUXDB_NAMESPACE=

# APP_METRICS_INFLUXDB_TAGS_NAME1=value1
# APP_METRICS_INFLUXDB_TAGS_NAME2=value2

########################################################################
#
# Store configurations
#
########################################################################

# APP_STORE_CONNMAXLIFETIME=3m
# APP_STORE_MAXOPENCONNS=10
# APP_STORE_MAXIDLECONNS=10
# APP_STORE_LOGLEVEL=warn
# APP_STORE_SLOWTHRESHOLD=200ms

# ===== MySQL =====
# APP_STORE_MYSQL_HOST="127.0.0.1:3306"
# APP_STORE_MYSQL_USERNAME=root
# APP_STORE_MYSQL_PASSWORD=your_password_here
# APP_STORE_MYSQL_DATABASE=test_db
# Whether to create database if not exists.
# APP_STORE_MYSQL_AUTOCREATE=false

# ===== Sqlite =====
# APP_STORE_SQLITE_PATH=":memory:"

########################################################################
#
# Go performance profiling
#
########################################################################

# APP_PPROF_ENABLED=false
# APP_PPROF_ENDPOINT=":6060"
